body {
    background-color:aqua;
    font-family:Georgia; 
}

h1 {
    color: darkblue; 
    font-family: comic sans ms;
    font-size: 60px;
    text-align: center;
   }

    .daris {
         color: white;
         font-variant: small-caps;
        }

    .ahmad {
        text-decoration: none;
        font-weight: bold;
    }

h4 {
    text-align: right;
    font-style: italic;
}

p {text-align: justify;}

    .p1 {
         text-align: center;
         color: orange;
    }

    .p2 {
        text-align: right; 
        line-height: 2;
    }

    .daris:hover {
        color: red;
        text-decoration: none;
       }

    .ahmad:hover {
        background-color: blue;
        color: white;
        text-decoration: none;
       }