html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ddd;
    list-style: 1.65;
    padding-bottom: 1000px;
    overflow-x: hidden;
}

nav {
    display: flex;
    background-color: #992525;
    justify-content: space-around;
    height: 50px;
    align-items: center;
    color: #c2cffa;
    z-index: 1;
}

    nav .logo-navbar {
        font-family: 'NotoSans';
    }

    nav ul {
        display: flex;
        list-style: none;
        width: 40%;
        justify-content: space-between;
    }
    
        nav ul li a {
            color: #b0c2fd;;
            text-decoration: none;
            font-size: 0.8em;
        }

            nav ul li a:hover {
                color: #f1f5ff;;
            }

.menu-toggle {
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
}

.menu-toggle input {
    position: absolute;
    width: 40px;
    height: 20px;
    left: -5px;
    top: -3px;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}

.menu-toggle span {
    display: block;
    width: 30px;
    height: 3px;
    background-color: #b0c2fd;
    border-radius: 3px;
    transition: all 0.5s;
}


/* Hamburger Menu Animation */
.menu-toggle span:nth-child(2) {
    transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
    transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
    background-color: white;
    transform: rotate(45deg) translate(-2px, -2px);
}

.menu-toggle input:checked ~ span:nth-child(4) {
    background-color: white;
    transform: rotate(-45deg) translate(-1px, 0);
}

.menu-toggle input:checked ~ span:nth-child(3) {
    opacity: 0;
    transform: scale(0);
}


@media screen and (max-width: 768px) {
    nav ul {
        width: 50%;
    }

}
@media screen and (max-width: 576px) {
    .menu-toggle {
        display: flex;
    }

    nav ul {
        position: absolute;
        right: 0;
        top: 0;
        width: 80%;
        height: 100vh;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        background-color: #080101;
        z-index: 0;
        transform: translateX(100%);
        transition: all 1s;
    }

    nav ul.slide {
        transform: translateX(0);
    }

}

.container-satu {
    width: 800px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    z-index: -2;
}

.kolom-utama {
    flex: 3;
    order: 2;
}

.sidebar-satu {
    flex: 1;
    order: 1;
}

.sidebar-dua {
    flex: 2;
    order: 3;
}


.container-dua {
    max-width: 800px;
    margin: 50px auto;

}

.layanan {
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

